.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

#typeBox {
  padding-top: 75px;
}

.character {
  font-size: 20px;
}

.bold {
  font-size: 125%;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.score {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  color: rebeccapurple;
  font-size: 26px;
}

.refresh {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.retry {
  font-size: 20px;
}
