.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

#typeBox {
  padding-top: 75px;
}

.bold {
  font-size: 125%;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
